.App {
  text-align: center;
}
.body{
  background-color: whitesmoke;
}
.container{
  background-color: whitesmoke;
  margin: 3vh;
  display: flex;
  flex-direction: column;
  min-height:50vh;
  max-width: 40vw;
  border:5px solid black;
}
.card{
  display: flex;
  max-width: 40vw;
}
.card img{
  padding-top: 2vh;
  padding-left: 25vh;

  height: 20vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
header h2{
  left: 0;
  font-size: 34px;
  font-family: Raleway;
  color: grey;
  text-align: left;
  padding-left: 30px;
}

.para p{
  left:0;
  font-size: 20px;
  font-family: cursive;
  text-align: left;
  padding-left: 30px;
}